body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* custom CSS */
.content {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
}

.search-bar {
    width: 300px;
}

.searched-count {
    margin: 12px 0;
}

.search-button {
    width: 300px;
}

.tabs {
    display: flex;
    margin: 24px 0;
    justify-content: center;
    align-items: center;
    /* column-gap: 20%; */
}

.tab, .page-btn, .reserve-btn {
    font-size: 16px;
    /* height: 50px; */
    padding: 6px;
    margin: 0 24px;
    background: white;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.tab, .page-btn {
    width: 200px;
}

.active-tab {
    background: rgb(0, 255, 0);
}

li {
    list-style: none;
}

.book {
    margin: 24px 0;
}

.text {
    line-height: 1;
    margin: 10px 0;
}

.book__title {
    font-size: 20px;
    font-weight: bold;
}

.book__author {
    font-size: 20px;
}

.stock-info__number {
    margin-right: 10px;
}

.page-btn-container {
    display: flex;
    justify-content: center;
}